.characterRow {
  justify-content: center;
}

.characterSheet {
  padding: 10vh;

  .characterRow {
    background-color: #1a1d20 !important;
    min-height: 80vh;
    h3 {
      width: fit-content;
      margin-bottom: 20px;
    }
  }
  .imageStats {
    display: flex;
    padding: 0;
    flex-direction: row;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      flex: 6;
    }
    table {
      margin: 0;
      flex: 1;
      th {
        vertical-align: middle;
        text-align: center;
      }
    }
  }
  .infoCol {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .titles {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .progressBars {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .progressBar {
        align-items: center;
        flex-direction: row;
        display: flex;
        margin-bottom: 20px;
        h3 {
          width: 80px;
          margin-bottom: 0;
        }
      }
    }
  }
  .itemTable {
    text-align: center;
    padding: 0;
  }
}
