.characterRow {
  padding-left: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .characterRow {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.addPersonaje {
  z-index: 2;
  position: fixed;
  right: 20px;
  top: 20px;
}

.characterSheet {
  display: flex;
  padding: 5rem 2rem;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;

  .row {
    height: 100%;
    width: 100%;
    background-color: #1a1d20 !important;

    h3 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  .imageStats {
    display: flex;
    padding: 0;
    flex-direction: row;

    .imageContainer {
      flex: 6;
      position: relative;
      .clickableText {
        display: flex;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        justify-content: center;
        align-items: center;
        &:hover {
          cursor: pointer;
        }
      }
    }

    img {
      aspect-ratio: 1;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
      flex: 6;
    }

    table {
      margin: 0;
      flex: 1;

      th {
        vertical-align: middle;
        text-align: center;
      }
    }
  }

  .infoCol {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .imageInput {
      display: none;
      visibility: hidden;
    }

    .titles {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .progressBars {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .progressBar {
        align-items: center;
        flex-direction: row;
        display: flex;
        margin-bottom: 5px;

        p {
          width: 50px;
          margin-bottom: 0;
        }

        .progress {
          width: 100%;
        }
      }
    }
  }

  .itemTable {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.Normal {
  color: white !important;
  margin: 0;
  text-align: center;
}

.Raro {
  color: lightgreen !important;
  text-shadow: 0 0 3px green;
  margin: 0;
  text-align: center;
}

.Extraordinario {
  color: lightblue !important;
  text-shadow: 0 0 8px blue;
  margin: 0;
  text-align: center;
}

.Único {
  color: plum !important;
  text-shadow: 0 0 10px purple;
  margin: 0;
  text-align: center;
}

.Legendario {
  color: lightsalmon !important;
  text-shadow: 0 0 20px orange;
  margin: 0;
  text-align: center;
}

.Maldito {
  color: red !important;
  text-shadow: 0 0 20px darkred;
  margin: 0;
  text-align: center;
}

.Bajo {
  color: lightcoral !important;
  text-shadow: 0 0 3px red;
  margin: 0;
  text-align: center;
}

.Alto {
  color: lightgreen !important;
  text-shadow: 0 0 3px green;
  margin: 0;
  text-align: center;
}
