html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color-scheme: dark;
  color: white;
  background: black;
}

html {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
}

.container {
  text-align: center;
  padding: 4rem 0;
}

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1 {
  margin-bottom: 20px;
}

.backButton {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 2;
}

@import "pages/pages.module.scss";
@import "./components/components.module.scss";
